/* Neue Haas Grotesk Display Pro */
@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('/assets/fonts/neue-haas-grotesk display/Web/NeueHassGrotesk_Display/NeueHaasDisplayRoman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('/assets/fonts/neue-haas-grotesk display/Web/NeueHassGrotesk_Display/NeueHaasDisplayMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('/assets/fonts/neue-haas-grotesk display/Web/NeueHassGrotesk_Display/NeueHaasDisplayBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Neue Haas Grotesk Text Pro */
@font-face {
  font-family: 'Neue Haas Grotesk Text Pro';
  src: url('/assets/fonts/neue-haas-grotesk text/Web/NeueHassGrotesk_Text/NHaasGroteskTXPro-55Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Text Pro';
  src: url('/assets/fonts/neue-haas-grotesk text/Web/NeueHassGrotesk_Text/NHaasGroteskTXPro-65Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Text Pro';
  src: url('/assets/fonts/neue-haas-grotesk text/Web/NeueHassGrotesk_Text/NHaasGroteskTXPro-75Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Offbit Monospace */
@font-face {
  font-family: 'Offbit';
  src: url('/assets/fonts/offbit/offbit_Web/OffBit-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Offbit';
  src: url('/assets/fonts/offbit/offbit_Web/OffBit-101.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

